@import "globals";
@import "variables";
@import "mixins";

h1 {
    color: $title-color;
    font-family: 'Lato';
    text-align: center;
    font-weight: 1200;
    padding: 16px 16px;
}


h3{
    color: $title-color;
    font-family: 'Lato';
    text-align: center;
    font-weight: map-get($font-weights, medium);
    padding: 16px 16px;
}


header {
    background-color: white;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;   
} 

.nav__list {
    list-style: none;
    background: $backg-modbox;
    overflow: hidden;
    text-align: center; 
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.nav__link {
    text-decoration: none;
    color: $modbox-color;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 16px 16px;
    flex-wrap: wrap;
   
}

.nav__li {
    float: left;
    text-align: center;
    align-items: center;

}

.nav__li:hover{
    background-color: #182625 ;
}


.contenedor{
    max-width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
 figure{
    position: relative;
    cursor: pointer;
    max-width: 100%;

    img{
    width: 100%;
    height: 60%;
    transition: all 500 ms ease-out;
}
.capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    color: $modbox-color;
    transition: all 500 ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;

   h3{
    color: $modbox-color;
    font-family: 'lato';
    font-weight: 200;
    }
    h1{
    color: $modbox-color;
    font-family: 'lato';
    font-weight: 900;
    font-style: italic;   
}    
   p{
    color: $modbox-color;
    font-family: 'lato';
    font-weight: map-get($font-weights, regular);
    font-style: oblique;
}
}
&:hover > .capa{
    opacity: 1;
    visibility: visible;
}
}
}
 
.portadas__all{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.Portada-pag {
    margin: 2rem;
    width: 400px;
    padding: 2rem;
    box-shadow: 0 10px 30px -10px;
    background-color: $backg-modbox;
    padding: 16px 16px;
    float: left;
    align-items: center;
    font-family: 'lato';
    
}

.table__all{
    font-family: 'lato';
}


#csj{
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    background-color: $backg-modbox;
}

.section__contact{
    border: solid;
    padding: 16px 16px 16px 16px;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    @extend #csj;
}

.table__contact{
    padding: 16px 16px 16px 16px;

}

.button__contact{
    color: $backg-modbox;
}

.galery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.7rem;
  background-color: $backg-modbox;

 img {
  width: 100%;
}
}

.ubic__link{
    @extend .table__link;
    border: solid;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    min-width: 250px;
    font-family: 'lato';
    font-size: x-large;
    font-style:italic;
    
}

.table__link{
    @include flexCenter;
    padding: 16px 16px 16px 16px;
    text-align: center;
    flex-wrap: wrap;
   

}

.td__maps{
    display: flex;
    align-items: left;
    text-align: left;
    flex-wrap: wrap;

}

.title__contact{
    color: $modbox-color;
}

.modbox {
    margin-bottom: 10px;

}

.div__tit{
    @include flexCenter;
    text-align: center;
    color: $backg-modbox;
    background-color: $serv-title;
    height: 40px;
    margin-bottom: 15px;
}

.center-wrap{
    display: flex;
    justify-content: space-evenly;
}

.seccion.proyecto{
    p:nth-of-type(10) {
    font-family: 'lato';
    font-size: 20px;
    line-height: 29px;
    font-style: italic;
    margin: 15px;
    padding: 0px 300px;
}
    p {
    font-size: 15px;
    line-height: 25px;
    color: $backg-modbox;
    font-weight: 100;
    padding: 0px 215px;
}

    .modulo.paso {
    width: 100%;
    height: auto;
    border: 5px solid $backg-modbox;

    &:last-child{
    margin-right: 0;
}
    h3:after {
    display: block;
    content: '';
    background: $backg-modbox;
    height: 4px;
    width: 56px;
    margin: 6px auto;
}
    .img-wrap {
    min-height: 50%;

    img {
    width: 100px;
    align-content: center;
    margin: 0 auto;
} 
}
   ul { 
    p {
    font-family: 'lato';
    font-style: italic;
    line-height: 15px;
    padding-left: 0px;
    margin-left: 25px;
    margin-right: 2px;
    margin-bottom: 25px;
    }

    li {
    font-family: 'lato';
    font-style: italic;
    line-height: 15px;
    padding-left: 0px;
    margin-left: 25px;
    margin-right: 2px;
    margin-bottom: 25px;

    &::before {
    display: inline-block;
    content: "•";
    position: absolute;
    top: 10px;
    left: 10px;
    }
   }
  }
 }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    float: none;

}

img {
    display: flex;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:$backg-modbox;
    flex-wrap: wrap;
    margin-top: 20vh;

    .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    .box{
    figure{
    width: 100%;
    height: 100%;
    @include flexCenter;

    img{
    width: 100px;
    }
   }
   h2{
    color: $modbox-color;
    margin-bottom: 25px;
    font-size: 20px;
   }
   p{
    color: $modbox-color;
    margin-bottom: 10px;
   }
  }
  .red-social{
    a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $modbox-color;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    &:hover{
    color: aqua;
    }
   }
  }
 }
 .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: $modbox-color;
    small{
    font-size: 15px;
  }
 }
}

.boton{
    width: 80px;
    height: 30px;
    font-weight: map-get($font-weights, medium);
    transition: all 1s;
   &:hover{
    width: 90px;
    border-radius: 12px;
    font-weight: map-get($font-weights, bold);
    background-color: $serv-title;
}
}

.title{
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media screen and (max-width:350px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

    .all__contenedor{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;   
    }

   .td__maps{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px; 
    }

    h2{
        font-size: 26px;
    }


} 

@media screen and (max-width:940px){
    .center-wrap{
        display: inline-block;
    }

    }

@media screen and (max-width:1150px){
    .content, .center-wrap{
        width: 100%;
    }

    }

@media screen and (max-width:370px){
    .seccion.proyecto .modulo.paso{
        width: 100%;
    }

    }    

@media only screen and (max-width:480px){
    .seccion.proyecto .modulo.paso{
        width: 90%;
    }
    .modbox{
        width: 100%;
        float: none;
        margin: 0%;
        margin-top: 15px;
        text-align: center;
    }    
    }
 

@media screen and (max-width:600px){
    .seccion.proyecto .modulo.paso .img-wrap{
        min-height: auto;
        margin-bottom: 15px;
    }
    .seccion.proyecto .modulo.paso p{
        min-height: auto;
    }

    }   

@media screen and (max-width:700px){
    .seccion.proyecto .modulo.paso .img-wrap{
        min-height: 170px;
    }

    }

@media screen and (max-width:885px){
    .seccion.proyecto .modulo.paso .img-wrap{
        min-height: 215px;
    }

    } 

@media screen and (max-width:1150px){
    .seccion.proyecto img{
        width: 100%;
    }

    }  



/* form de contacto */


.contact {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.logo span {
    color: $backg-modbox;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid $backg-modbox;
}

.contact-form form button {
    background: $backg-modbox;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: $backg-modbox;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* CONTACT INFO */
.contact-info {
    background: #000;
}

.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
    .main__contact {
        padding: 0 4em;
    }
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .contact-wrapper > * {
        padding: 2em;
    }
    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}
    


/* galería */

.body__galery{
    background-color:#282c34 ;
}
.galery {
  background-color: #282c34;
  font-family: sans-serif;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }

  .tall {
    grid-row: span 2;
  }
}

.body__maps{
    background-color: #181818;
}